Repository ovh/the-bastion, pull requests merged in 2025-02, with the labels that each got.

#521 Implement ssh --forward-agent | -x functionality
  bin/shell/osh.pl
  doc/sphinx/administration/configuration/bastion_conf.rst
  doc/sphinx/presentation/features.rst
  etc/bastion/bastion.conf.dist
  lib/perl/OVH/Bastion/configuration.inc
  tests/functional/tests.d/346-testagentforward.sh
Labels: tests:short, tests:full, tests:freebsd

#524 [fix] Add comment to groupSetServers
  bin/helper/osh-groupSetServers
  tests/functional/tests.d/350-groups.sh
Labels: tests:long

#528 enh: ssh autologin: allow TERM env passthrough
  bin/shell/autologin
  bin/shell/osh.pl
  tests/functional/tests.d/341-selfaccesses-force-password.sh
Labels: tests:full, tests:freebsd

#526 enh: use only TL1 special chars when generating passwords
  lib/perl/OVH/Bastion/Plugin/generatePassword.pm
Labels: tests:short
